.quote{
    color: white;
    font-size: 4rem;
}

.author{
    color: white;
    font-size: 2rem;
}

.quotebody{
    /* display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh;  */
  position: absolute;
  top: 20%;
  
  
}